
.weapon {
	display:none;
}
.weapon > img {
	display:none;
}
.left_body {
	padding-right: 601px;
	position: relative;
	height:100%;
	z-index:100;
	margin: 0 0 0 0;
	background: #272822;
}
.right_body{
	position:absolute;
	width:601px;
	right:0;
	top:0;
	height:100%;
}
.gameover {
	position: fixed;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.28);
	display:none;
	z-index:999999;
}

.gameover_panel {
	width:400px;
	height:300px;
	position:fixed;
	left:calc( 50% - 200px );
	top:25%;
	background:rgba(100,149,237,0.95);
	color: #ffffff;
	overflow-y: auto;
	padding: 3em 2em;
	z-index: 9999999;
}

.gameover_panel ul {
			list-style: none;
			padding: 0;
		}

			.gameover_panel ul > li {
				border-top: solid 1px rgba(0, 0, 0, 0.125);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
			}

				.gameover_panel ul > li:first-child {
					border-top: 0 !important;
					margin-top: 0 !important;
					padding-top: 0 !important;
				}

				.gameover_panel ul > li > span {
					display:inline-block;
					width:40px;
					margin-right:6em;

				}
				.gameover_panel ul > li > span:last-child {
					margin-right:0 !important;

				}


#editor {
    border-top: 1px #555555 solid;
    position: absolute;
    z-index:-1;
    height:540px;
    width:calc(100% - 600px);
    left:0; right:0; top:57px; bottom:0;
}
#map {
  background:rgba(33,33,33,1);
	border:solid 2px #444;
	margin:0 0 0 0;
	left:0; right:0; top:47.7px; bottom:0;
	position: absolute;
	z-index:100;
}